<h1>Welcome to Timetracking tool</h1>

<ul>
	<% @projects.each do |project| %>
		<%= if @project.description.present? %>
			<li><%= "{project.name} - #{project.description}" %> </li>
		<% else %>
			<li><%= "{project.name}" %> </li>
	<% end %>
</ul>

<h3>Projects</h3>